@import "~bulma/sass/utilities/_all";
@import "~buefy/src/scss/utils/_all";


// If you override or set variables here, they will be available available to you from within your Vue components, without requiring @import statements.

$hfph-blau: #182f7a;
$hfph-blau-light: findLightColor($hfph-blau);
$hfph-blau-dark: findDarkColor($hfph-blau);
$hfph-blau-invert: findColorInvert($hfph-blau);

$hfph-gelb: #ffcc19;
$hfph-gelb-light: findLightColor($hfph-gelb);
$hfph-gelb-dark: findDarkColor($hfph-gelb);
$hfph-gelb-invert: findColorInvert($hfph-gelb);

$custom-colors: null !default;
$custom-shades: null !default;

$primary: $hfph-blau;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
	(
	    "white": (
	        $white,
	        $black,
	    ),
	    "black": (
	        $black,
	        $white,
	    ),
        "light": (
            $light,
            $light-invert,
        ),
	    "hfph-blau": (
	        $hfph-blau,
			$hfph-blau-invert,
	        $hfph-blau-light,
			$hfph-blau-dark,
	    ),
	    "hfph-gelb": (
	        $hfph-gelb,
			$hfph-gelb-invert,
	        $hfph-gelb-light,
			$hfph-gelb-dark,
	    ),
        "dark": (
            $dark,
            $dark-invert,
        ),
        "primary": (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        "link": (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        "info": (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        "success": (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        "warning": (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        "danger": (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        ),
	),
	$custom-colors
);

body, button, input, optgroup, select, textarea {
    font-family: SFProText, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Bold'), local('SFProText-Bold'),
        url('/fonts/SFProText-Bold.woff2') format('woff2'),
        url('/fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Black Italic'), local('SFProText-BlackItalic'),
        url('/fonts/SFProText-BlackItalic.woff2') format('woff2'),
        url('/fonts/SFProText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Black'), local('SFProText-Black'),
        url('/fonts/SFProText-Black.woff2') format('woff2'),
        url('/fonts/SFProText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Bold Italic'), local('SFProText-BoldItalic'),
        url('/fonts/SFProText-BoldItalic.woff2') format('woff2'),
        url('/fonts/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Heavy Italic'), local('SFProText-HeavyItalic'),
        url('/fonts/SFProText-HeavyItalic.woff2') format('woff2'),
        url('/fonts/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Heavy'), local('SFProText-Heavy'),
        url('/fonts/SFProText-Heavy.woff2') format('woff2'),
        url('/fonts/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Light'), local('SFProText-Light'),
        url('/fonts/SFProText-Light.woff2') format('woff2'),
        url('/fonts/SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Light Italic'), local('SFProText-LightItalic'),
        url('/fonts/SFProText-LightItalic.woff2') format('woff2'),
        url('/fonts/SFProText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Medium'), local('SFProText-Medium'),
        url('/fonts/SFProText-Medium.woff2') format('woff2'),
        url('/fonts/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Medium Italic'), local('SFProText-MediumItalic'),
        url('/fonts/SFProText-MediumItalic.woff2') format('woff2'),
        url('/fonts/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Regular'), local('SFProText-Regular'),
        url('/fonts/SFProText-Regular.woff2') format('woff2'),
        url('/fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Regular Italic'), local('SFProText-RegularItalic'),
        url('/fonts/SFProText-RegularItalic.woff2') format('woff2'),
        url('/fonts/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Semibold'), local('SFProText-Semibold'),
        url('/fonts/SFProText-Semibold.woff2') format('woff2'),
        url('/fonts/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Semibold Italic'), local('SFProText-SemiboldItalic'),
        url('/fonts/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Thin'), local('SFProText-Thin'),
        url('/fonts/SFProText-Thin.woff2') format('woff2'),
        url('/fonts/SFProText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Thin Italic'), local('SFProText-ThinItalic'),
        url('/fonts/SFProText-ThinItalic.woff2') format('woff2'),
        url('/fonts/SFProText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Ultralight'), local('SFProText-Ultralight'),
        url('/fonts/SFProText-Ultralight.woff2') format('woff2'),
        url('/fonts/SFProText-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: local('SFProText Ultralight Italic'), local('SFProText-UltralightItalic'),
        url('/fonts/SFProText-UltralightItalic.woff2') format('woff2'),
        url('/fonts/SFProText-UltralightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}


// MONO

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-HeavyItalic.woff2') format('woff2'),
        url('/fonts/SFMono-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-BoldItalic.woff2') format('woff2'),
        url('/fonts/SFMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Light.woff2') format('woff2'),
        url('/fonts/SFMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-MediumItalic.woff2') format('woff2'),
        url('/fonts/SFMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Bold.woff2') format('woff2'),
        url('/fonts/SFMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-LightItalic.woff2') format('woff2'),
        url('/fonts/SFMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Regular.woff2') format('woff2'),
        url('/fonts/SFMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Heavy.woff2') format('woff2'),
        url('/fonts/SFMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Medium.woff2') format('woff2'),
        url('/fonts/SFMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-Semibold.woff2') format('woff2'),
        url('/fonts/SFMono-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/SFMono-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: url('/fonts/SFMono-RegularItalic.woff2') format('woff2'),
        url('/fonts/SFMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

